<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.testerhome.nativeandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- account manager -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".application.NativeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.TopicDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".TesterChooserTargetService" />
        </activity>
        <activity
            android:name=".views.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".views.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".views.AccountFavoriteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".views.AccountTopicsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".views.AccountNotificationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".views.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service
            android:name=".auth.UserAccountService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="772bad6e8f4453b59426264a4309dced" />

        <activity
            android:name=".views.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/main_drawer_settings"
            android:theme="@style/AppTheme.ActionBar" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56302f3ee0f55a674e002bfa" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <service
            android:name=".TesterChooserTargetService"
            android:label="TesterHomeTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
    </application>

</manifest>
